/* SaSS */
$green: #25683B;
$headerfonts: Tropikal, Perpetua, serif;
$bodyfonts: DM Sans, Gill Sans MT, sans-serif;

/* CSS Reset */
body, header, nav, main {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body {
  background-color: #ffffff;
}

/* Style rules for mobile viewport */
/* Style rule for header */
header {
  top: 0;
  background-color: #ffffff;
  height: 190px;
}

header img {
  margin: 0 auto;
}

/* Style rules for main content */
main {
  background-color: #fff;
  padding: 2%;
  font-size: 1.15em;
  font-family: 'Roboto Slab', serif;
}

/* Style rules for footer content */
footer .copyright {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 2% 4%;
    float: left;
    width: 75%;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

.social {
    float: right;
    width: 20%;
    padding: 2%;
}

.social img {
    display: inline-block;
    padding: 5%;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {

  /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  .mobile, .mobile-nav {
    display: none;
  }

  /* Tablet Viewport: Style rule for header */
  header {
    padding-bottom: 2%;
  }

  /* Tablet Viewport: Style rules for nav area */
  nav {
    padding: 1%;
    margin-bottom: 1%;
  }

  nav ul {
    list-style-type: none;
    text-align: center;
  }

  nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    display: inline-block;
    border-right: 1px solid #fff;
  }


  nav li a {
    padding: 0.1em 0.75em;
    display: block;
    color: #fff;
    text-decoration: none;
  }

  /* Tablet Viewport: Style rules for main content area */


}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {

  /* Desktop Viewport: Style rule for header */
  header {
    width: 25%;
    float: left;
    padding-bottom: 0;
  }

  /* Desktop Viewport: Style rules for nav area */
  nav {
    float: right;
    width: 70%;
    margin: 4em 1em 0 0;
  }

  nav ul {
    text-align: right;
  }

  nav li {
    border: none;
  }

  nav li a {
    padding: 0.5em 1em;
  }

  nav li a:hover {
    color: #000;
    background-color: #fff;
    transform: scale(1.3);
  }

  /* Desktop Viewport: Style Rules for main content */
  main {
    clear: left;
  }

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
  #container {
    width: 1920px;
    margin: 0 auto;
  }
}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}